<div>
    <div class="ContentSideSections overHidden">
        <div class="Content100 floatLeft overHidden TextShadow">

            <br>
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <center>{{pageTitle}}</center>
                </div>



                <div class="visible-lg">
                    <div class='panel-body'>

                        <div class="row" style="padding-left:250px">

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/mike.png" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Mike Canales</p>
                                </a>

                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/skyler.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Skylar Givens</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/cuts/oscar.jpg" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Oscar Ruiz</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/freddy.jpg" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Freddy Mendoza</p>
                                </a>
                            </div>

                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row" style="padding-left:250px">

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/dalton.jpg" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Dalton Marcus</p>
                                </a>

                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/lindsay.jpg" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Lindsay Kersh</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-4 col-xs-6" style="height:200px; width:250px">
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/jonathan.jpg" alt="" style="height:200px; width:250px">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Jonathan Sandoval</p>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>




                <!--MOBILE-->



                <div class="visible-xs">

                    <div class='panel-body'>
                   <br>
                            <div class="center-block">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="./img/barbers/mike.png" alt="" >
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Mike Canales</p>
                                </a>

                           
                       <br>
                            
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="./img/skyler.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Skylar Givens</p>
                                </a>
                        
                            <br>
                            <br>
                            
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="./img/cuts/oscar.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Oscar Ruiz</p>
                                </a>
                        
                            <br>
                            <br>
                   
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/freddy.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Freddy Mendoza</p>
                                </a>
                      
                            <br>
                            <br>
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/dalton.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Dalton Marcus</p>
                                </a>

                
                            <br>
                            <br>
                      
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/lindsay.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Lindsay Kersh</p>
                                </a>
                     
                            <br>
                            <br>
              
                                <a class="thumbnail" href="#">
                                    <img class="img-thumbnail" src="./img/barbers/jonathan.jpg" alt="">
                                    <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px; text-align: center">Jonathan Sandoval</p>
                                </a>
                            </div>
     
                    </div>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <br>

                <br>
                <br>



            </div>

        </div>