   <div>
    <div style="padding-left:10px; padding-right:10px; padding-top:80px; padding-bottom:80px">



        <div class='panel panel-primary center-block img-responsive' style="height: 1152px; width:1244px">
            <div class='panel-heading'>
                <center><span style="padding-left: 5px">{{barberName}}</span></center>
            </div>
            <br>
            <center>
            <div>

                <!--<h4><b><u>Date Available:</u></b></h4>
        <br>
        <h5>{{releaseDate}}</h5>-->
                <br>
                <br>
                
                <div class="row">
                    <div class="col s12">
                        
                    
                   <img src="{{barberPic}}" style="width: 250px; height:250px; border: 1px solid #000">
                        <br>
                        <br>
                         <a href="{{barberInsta}}"><h3><img src="./img/insta.png" style="width:40px; height:40px">&nbsp;{{instaName}}</h3></a>
                    
                   
                        <!--<center><button class='col s12 mat-btn mat-btn-large waves-effect' style="background-color: #DB2226; font-family: Verdana"><b>Book with {{barberNick}}</b></button></center>-->
              <br>
              <br>
              <br>
              <br>
              <h3><u>{{barberNick}}'s Cuts</u></h3>
                <br>
                <br>
                <table class='table'>

                    <tbody>
                        <tr style="border: none">
                           
                                <td style="border: none">
                                    <img class="center-block" src="{{previewCut}}" style="width: 250px; height:250px; border: 1px solid #000">
                                </td>
                        
                        </tr>
                    </tbody>
                </table>
                    </div>
                </div>
               
                <br>
                <br>
                <br>
                <br>


                <br>
                <br>
                <br>
                <br>

            </div>
 </center>
            <div class='panel-footer'>
                <a class='mat-btn waves-effect waves-light red darken-3' (click)='onBack()' style='width:80px; color: white !important'>
                    <i class='glyphicon glyphicon-chevron-left'></i>
                </a>
                <!--<a class='mat-btn waves-effect waves-light red darken-3' (click)='onBack()' style='width:80px; float:right'>
            <i class='glyphicon glyphicon-shopping-cart'></i>
        </a>-->
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>
</div>

<!--<div class="visible-xs" style="padding-left:10px; padding-right:10px">
   
    <div class='panel panel-primary'>
            <div class='panel-heading'>
                <center><span style="padding-left: 5px">{{barberName}}</span></center>
            </div>
            <br>
     

                    <div class="col s4">
                        <br>
                        <br>
                        <br>
                       
                        <center><img src="{{barberPic}}" style="width: 250px; height:250px; border: 1px solid #000">
                        <br>
                        <br>
                         <a href="{{barberInsta}}"><h3><img src="./img/insta.png" style="width:40px; height:40px">&nbsp;{{instaName}}</h3></a>
                        </center>
                
                        <h5 style="float:right; padding-left:10px; padding-right:10px; padding-bottom:25px">{{barberBio}}</h5>
                        <br>
                        <br>-->
                        <!--<center><button class='col s12 mat-btn mat-btn-large waves-effect' style="background-color: #DB2226; font-family: Verdana"><b>Book with {{barberNick}}</b></button></center>-->
              
             
                <!--<br>
                <br>
          
                <center><h3><u>{{barberNick}}'s Cuts</u></h3></center>
                <br>
                <br>
                <table class='table'>

                    <tbody>
                        <tr style="border: none">
                            <center>
                                <td style="border: none">
                                    <img class='img-thumbnail-photo' src="img/photos/pic1.jpg" alt="1" width="304" height="236">
                                    <img class="img-thumbnail-photo" src="img/photos/pic2.jpg" alt="1" width="304" height="236">
                                    <img class="img-thumbnail-photo" src="img/photos/pic3.jpg" alt="1" width="304" height="236">
                                </td>
                            </center>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
           

            </div>

            <div class='panel-footer'>
                <a class='mat-btn waves-effect waves-light red darken-3' (click)='onBack()' style='width:80px; color: white !important'>
                    <i class='glyphicon glyphicon-chevron-left'></i>
                </a>
  
            </div>
        </div>
        <br>
        <br>
        <br>
<br>
</div>-->