
<div style="padding-left:10px; padding-right:10px; padding-top:80px; padding-bottom:80px">
        <div>
    
                <div class='panel panel-primary center-block img-responsive' style="height: 100%; width:1244px">
                    <div class='panel-heading'>
                        <center>{{pageTitle}}</center>
                    </div>

                                  <table class='table' *ngIf='barbers && barbers.length'>

                        <tbody>
                            <tr *ngFor='let barber of barbers | barbFilter'>
                                <td rowspan="3" style="border:none">
                                    <br>
                                    <a [routerLink]="['/barber', barber.barberId]">
                                        <center>{{barber.barberName}}<br>
                                            <br>
                                            <img [src]='barber.barberPic' class="img-thumbnail" style="width:250px; height:250px"></center>
                                    </a>
                                    <br>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                    <br>
                                    <table class='table' *ngIf='barbers && barbers.length'>

                        <tbody>
                            <tr *ngFor='let barber of barbers | barb2Filter'>
                                <td rowspan="3" style="border:none">
                                    <br>
                                    <a [routerLink]="['/barber', barber.barberId]">
                                        <center>{{barber.barberName}}<br>
                                            <br>
                                            <img [src]='barber.barberPic' class="img-thumbnail" style="width:250px; height:250px"></center>
                                    </a>
                                    <br>
                                </td>


                            </tr>
                        </tbody>
                    </table>

                                    <table class='table' *ngIf='barbers && barbers.length'>

                        <tbody>
                            <tr *ngFor='let barber of barbers | barb3Filter'>
                                <td rowspan="3" style="border:none">
                                    <br>
                                    <a [routerLink]="['/barber', barber.barberId]">
                                        <center>{{barber.barberName}}<br>
                                            <br>
                                            <img [src]='barber.barberPic' class="img-thumbnail" style="width:250px; height:250px"></center>
                                    </a>
                                    <br>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                
                </div>
            </div>
            
            </div>

            <!--<div class="visible-tablet">
                <h3>HELLO TABLET USERS</h3>
                </div>-->

            <!--<div class='visible-xs' style="padding-left:10px; padding-right:10px">
                <div class='panel panel-primary'>
                    <div class='panel-heading' style="border: none">
                        <center>{{pageTitle}}</center>
                    </div>
                    <table class='table' *ngIf='barbers && barbers.length'>

                        <tbody>
                            <tr *ngFor='let barber of barbers'>
                                <td style="border:none">
                                    <br>
                                    <a [routerLink]="['/barber', barber.barberId]">
                                        <center>{{barber.barberName}}<br>
                                            <br>
                                            <img [src]='barber.barberPic' class="img-thumbnail" [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></center>
                                    </a>
                                    <br>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

          
     
     -->

