
<!--<h1>{{ user | async | json }}</h1>-->
<!--<input type="text" #newname placeholder="Name" />
<br>
<br>
<br>
<input type="text" #newphone placeholder="Phone" />
<br>
<br>
<br>
<input type="text" #newprofilepic placeholder="Profile Pic" />
<br>
<br>
<br>
<input type="text" #newAddress placeholder="Address" />
<br>
<br>
<br>
<input type="text" #newCity placeholder="City" />
<br>
<br>
<br>
<input type="text" #newState placeholder="State" />
<br>
<br>
<br>
<input type="text" #newZip placeholder="Zip" />
<br>
<br>
<br />
<button (click)="update(newname.value, newphone.value, newprofilepic.value, newAddress.value, newCity.value, newState.value, newZip.value)">Update</button>
<button (click)="delete()">Delete</button>-->

<!--<ul *ngFor="let user of users | async">
  <li class="text">
    {{user.$value}}
  </li>
</ul>

<ul *ngFor="let address of addresses | async">
  <li class="text">
    {{address.$value}}
  </li>
</ul>-->
<!--<br>
<br>
<br>
<br>
<h1>Retrieving Data</h1>
<br>
<h2>Name:&nbsp;{{ (user | async)?.name }}
  <br>
  <br>
   Phone:&nbsp;{{ (user | async)?.phone }}
   <br>
   <br> 
   Picture:&nbsp;{{ (user | async)?.profilepic }}
   <br>
   <br> 
    Address:&nbsp;{{ (address | async)?.address }}
    <br>
   <br> 
    City:&nbsp;{{ (address | async)?.city}}
     <br>
   <br> 
    State:&nbsp;{{ (address | async)?.state }}
      <br>
   <br> 
  Zip:&nbsp;{{ (address | async)?.zip }}
</h2>
<br>
   <br> 
   <br>
   <br> 

   
  
}-->
