<div>
    <div class="ContentSideSections overHidden">
        <div class="Content100 floatLeft overHidden TextShadow">


 <h1><center>Admin Dashboard</center></h1>
<br>

      <br>
      <br>
      <br>
      <div class='col s6'>
    <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 60px 48px; width:550px; border: 1px solid #EEE;">

    <h4><center>Applicant Information</center></h4>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>Name:</b>&nbsp;{{ (form | async)?.name }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Phone:</b>&nbsp;{{ (form | async)?.email }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Picture:</b>&nbsp;{{ (user | async)?.phone }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Address:</b>&nbsp;{{ (form | async)?.address }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>City:</b>&nbsp;{{ (form | async)?.city}}
      </div>
    </div>


    <br>
    <br>

    <div class='row'>
      <div class='col s12'>
        <b>Zip:</b>&nbsp;{{ (form | async)?.zip }}
      </div>
    </div>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>State:</b>&nbsp;{{ (form| async)?.state }}
      </div>
    </div>
    <br>
    <br>
    </div>
    </div>

    <div class='col s6'>
    <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 60px 48px; width:550px; border: 1px solid #EEE;">

    <h4><center>Help Request</center></h4>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>Name:</b>&nbsp;{{ (user | async)?.name }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Phone:</b>&nbsp;{{ (user | async)?.phone }}
      </div>
    </div>

    <!--<br>
    <br>
    <div class='row'>
      <div class='col s12'>
        Picture:&nbsp;{{ (user | async)?.profilepic }}
      </div>
    </div>-->


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Address:</b>&nbsp;{{ (address | async)?.address }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>City:</b>&nbsp;{{ (address | async)?.city}}
      </div>
    </div>


    <br>
    <br>

    <div class='row'>
      <div class='col s12'>
        <b>Zip:</b>&nbsp;{{ (address | async)?.zip }}
      </div>
    </div>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>State:</b>&nbsp;{{ (address | async)?.state }}
      </div>
    </div>
    <br>
    <br>
    </div>
    </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        
    </div>
</div>