<div>
   <div>
    <div style="padding-left:10px; padding-right:10px; padding-top:80px; padding-bottom:80px">
       
   <div class='panel panel-primary center-block img-responsive' style="height: 100%; width:1244px">
     <div class='panel-heading'>
                        <center>{{pageTitle}}</center>
                    </div>


      <br>
      <br>
      <br>
      <center>
      <div class='col s6'>
    <div class="z-depth-1 img-responsive" style="padding: 32px 48px 60px 48px; width:550px; border: 1px solid #EEE;">

    <h4><center>Applicants</center></h4>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12' *ngFor="let form of forms">
        <b></b>&nbsp;{{ form.ApplicantInfo.name }}
      </div>
    </div>

    <br>
    <br>
    <!--<div class='row'>
      <div class='col s12'>
        <b>Phone:</b>&nbsp;{{ (form | async)?.email }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Picture:</b>&nbsp;{{ (form | async)?.phone }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Address:</b>&nbsp;{{ (form | async)?.address }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>City:</b>&nbsp;{{ (form | async)?.city}}
      </div>
    </div>


    <br>
    <br>

    <div class='row'>
      <div class='col s12'>
        <b>Zip:</b>&nbsp;{{ (form | async)?.zip }}
      </div>
    </div>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>State:</b>&nbsp;{{ (form | async)?.state }}
      </div>
    </div>
    <br>
    <br>
 -->
    </div>
    <br>
    <br>
    <br>
    </div>
<!--<br>
<br>
    <div class='col s6'>
    <div class="z-depth-1 img-responsive" style="padding: 32px 48px 60px 48px; width:550px; border: 1px solid #EEE;">

    <h4><center>Applicant 2</center></h4>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>Name:</b>&nbsp;{{ (form2 | async)?.name }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Email:</b>&nbsp;{{ (form2 | async)?.email }}
      </div>
    </div>

    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        Picture:&nbsp;{{ (user | async)?.profilepic }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Phone:</b>&nbsp;{{ (form2 | async)?.phone }}
      </div>
    </div>


    <br>
    <br>
    <div class='row'>
      <div class='col s12'>
        <b>Address:</b>&nbsp;{{ (form2 | async)?.address}}
      </div>
    </div>


    <br>
    <br>

    <div class='row'>
      <div class='col s12'>
        <b>City:</b>&nbsp;{{ (form2 | async)?.city }}
      </div>
    </div>
    <br>
    <br>
    
    <div class='row'>
      <div class='col s12'>
        <b>State:</b>&nbsp;{{ (form2 | async)?.state }}
      </div>
    </div>
    <br>
    <br>
    </div>
    </div>

        </center>
        <br>
        <br>
    </div>
</div>-->