<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  body {
    background: #fff;
  }
  
  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #Db2226;
  }
  
  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #DB2226;
    box-shadow: none;
  }
</style>

<div>
  <div class="ContentSideSections overHidden">
    <div class="Content100 floatLeft overHidden TextShadow">


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
        <div class="container">
          <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 32px 48px; border: 1px solid #EEE;">


            <center>
              <!--<img class="responsive-img" style="width: 250px;" src="./img/logo2.png" />-->


              <h5 class="red-darken-4-text">Please, login into your account</h5>
              <br>
              <br>
              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='text' #email />
                  <label for='email'>Enter your email</label>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='password' #password />
                  <label for='password'>Enter your password</label>
                </div>
              </div>
              <br>
              <input type="checkbox" id="indeterminate-checkbox" />
              <label for="indeterminate-checkbox"><a class='grey-text' href='#!'><b>Remember me</b></a></label>
              <!--<label style='float: right;'>
								<a class='blue-text' href='#!'><b>Forgot Password?</b></a>
							</label>-->
              <br />
              <br>
              <br>
              <div class='row'>
                <button (click)="login(email.value, password.value)" class='col s12 mat-btn mat-btn-large waves-effect green'>Login</button>
              </div>
              <br>
              <div class='row'>
                <a [routerLink]="['/create']">Create account</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!--<p style="border-left:medium #000 solid; height:25px"></p>-->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/forgot']">Forgot Password</a>
              </div>
            </center>
          </div>
        </div>
      </center>




      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


    </div>
  </div>
</div>