<div>
  <div style="padding-left:10px; padding-right:10px;padding-top:80px; padding-bottom:80px">
    
    <div class='panel panel-primary center-block img-responsive' style="height: 852px; width:1244px">
      <div class='panel-heading'>
        <center>{{pageTitle}}</center>
      </div>
      <div class="panel-body" style="padding-top:30px">
        <div class="row">
          <h3>
            <center>Address & Phone</center>
          </h3>
          <br>
          <h4>
            <center>2851 S. Redwood Rd, 84119,<br><br> West Valley City, UT</center>
          </h4>
          <br>
          <h4>
            <center><a href="tel:1-(385) 242-7523">(385) 242-7523</a></center>
          </h4>
          <br>
          <h3>
            <center>Hours of Operation</center>
          </h3>
          <br>
          <h4>
            <center><b>Closed Monday</b></center><br><br>
            <center><b>Tuesday - Saturday</b> <br><br> (9:00 AM - 7:00 PM)</center><br><br>
            <center><b>Sunday</b> <br><br> (11:00 AM - 5:00 PM)</center>
          </h4>
         
        </div>
      </div>

    </div>
  
  
 
  </div>
</div>


