<div class="ContentSideSections overHidden">
  <div class="Content100 floatLeft overHidden TextShadow">
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <center>{{pageTitle}}</center>
      </div>
      <div class="panel-body" style="padding-top:30px">
        <div class="row">
          <br>
          <br>
          <h3>
            <center>Cutthroat Barbershop</center>
          </h3>
          <br>
          <h4>
            <center>2851 S. Redwood Rd, 84119, West Valley City, UT</center>
          </h4>
          <h4>
            <center>801-548-0118</center>
          </h4>
          <br>
          <h3>
            <center>Hours of Operation</center>
          </h3>
          <br>
          <h4>
            <center>Tuesday - Saturday > 9:00 AM - 7:00 PM</center><br>
            <center>Sunday > 11:00 AM - 5:00 PM</center>
          </h4>
          <br>
          <br>
          <br>

          <br>
          <br>
        </div>
      </div>

    </div>
    <br>
    <br>
    <br>
    <!--<h5>
      <center>Problems or questions about this site?<br><br><br> Contact
        <br><br> Mike Canales - <a href="mailto:mike_canales101@live.com">mike_canales101@live.com</a><br><br>or<br><br>        Jeff Baker - <a href="mailto:bakez1029@gmail.com">bakez1029@gmail.com</a></center>
    </h5>-->

 
  </div>
</div>