<div>
    <div style="padding-left:10px; padding-right:10px;padding-top:80px; padding-bottom:20px">
      
      <div class='panel panel-primary center-block img-responsive' style="height: 100%; width:1244px">
        <div class='panel-heading'>
          <center>{{pageTitle}}</center>
        </div>
        <div class='panel-body'>
          <br>
          <br>
          <br>
          <br>
       
          <table class='table'>

            <tbody>
              <tr style="border: none">
                <center>
                  <td style="border: none"><img class='img-thumbnail-photo' src="img/photos/pic1.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic2.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic3.jpg" alt="1" width="304" height="236"></td>
                </center>
              </tr>
              <tr style="border: none">
                <center>
                  <td style="border: none"><img class='img-thumbnail-photo' src="img/photos/pic4.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic5.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic6.jpg" alt="1" width="304" height="236">
                  </td>
                </center>
              </tr>
              <tr style="border: none">
                <center>
                  <td style="border: none"><img class='img-thumbnail-photo' src="img/photos/pic7.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic8.jpg" alt="1" width="304" height="236">
                    <img class="img-thumbnail-photo" src="img/photos/pic9.jpg" alt="1" width="304" height="236"></td>
                </center>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        
      </div>
    </div>
    <div style="text-align:center">
      <ul class="pagination">
        <li>
          <a aria-label="Previous" class="disabled">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a class="disabled">1</a></li>
        <li><a class="disabled">2</a></li>
        <li><a class="disabled">3</a></li>
        <li><a class="disabled">4</a></li>
        <li><a class="disabled">5</a></li>
        <li>
          <a aria-label="Next" class="disabled">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
    <br>
    <br>

  </div>


  