<style>
  banner {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background: #000;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .input-field input[type=date]:focus + label,
  .input-field input[type=text]:focus + label,
  .input-field input[type=email]:focus + label,
  .input-field input[type=password]:focus + label {
    color: #Db2226;
  }
  
  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #DB2226;
    box-shadow: none;
  }
</style>


<div id="MENUSIDE">

  <div id="MENUSIDEindent">

    <!--NOT AUTHED-->

    <img class="img-thumbnail center-block" src="./img/newlogo-final.png">

    <!--IF AUTHED OR ADMIN-->

    <div *ngIf="authed" style="color: #fff">
      <br>
      <center>
        <div class="badge" style="margin-bottom: 70px; color: #98AFC7">&nbsp;{{(user | async)?.name}}</div>
      </center>
      <br>
      <center>
        <div class="dropdown">
          <a data-target="#" [routerLink]="['/']" data-toggle="dropdown" class="dropdown-toggle"><img src="{{ (user | async)?.profilepic }}" style="width: 128px; height: 128px; padding:15px" class="img-circle"></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/']"><i class="fa fa-home fa-fw"></i> Home</a></li>
            <li><a [routerLink]="['/settings']"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
            <li><a [routerLink]="['/cart']"><i class="fa fa-shopping-basket fa-fw"></i> Cart</a></li>
            <li *ngIf="authed && uid === me || authed && uid === mike" class="divider"></li>
            <li *ngIf="authed && uid === me || authed && uid === mike"><a [routerLink]="['/admin']"><i class="fa fa-dashboard fa-fw"></i> Admin</a></li>
            <li class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
          </ul>
        </div>
      </center>
      <br>
      <br>
      <br>
      <br>
    </div>









    <a [routerLink]="['/']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">HOME</span></span></a>
    <a [routerLink]="['/products']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">PRODUCTS</span></span></a>
    <a [routerLink]="['/barbers']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">BARBERS</span></span></a>
    <a [routerLink]="['/services']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">SERVICES</span></span></a>
    <!--<a [routerLink]="['/reviews']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">BOOK</span></span></a>-->
    <a [routerLink]="['/photos']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">PHOTOS</span></span></a>
    <a [routerLink]="['/jobs']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">JOBS</span></span></a>
    <a [routerLink]="['/contact']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">CONTACT</span></span></a>
    <a [routerLink]="['/login']"><span class="MenuSideMainLink" id="data_menutitle marginBottom10"><span class="MainLinkText">LOGIN</span></span></a>

  </div>

</div>

<div id="CONTENTSIDE">

  <div id="CONTENTSIDEindent">

    <nav class="navbar navbar-default navbar-static-top visible-xs visible-sm">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 5px">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false" style="float:left">
        <span class="sr-only">Toggle navigation</span>
        <!--<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>-->
      </button>


          <!--MOBILE NOT AUTHED-->
          <div *ngIf="!authed">
            <!--<a [routerLink]="['/login']"><img src="./img/jobs2.png" style="height: 25px; width:25px; float:right; margin: 10px"></a>-->
          </div>


          <!--MOBILE IF AUTHED OR ADMIN-->

          <div *ngIf="authed">

            <div class="dropdown">
              <a data-target="#" [routerLink]="['/']" data-toggle="dropdown" class="dropdown-toggle"><img src="{{ (user | async)?.profilepic }}" style="height: 25px; width:25px; float:right; margin: 10px" class="img-circle"></a>
              <ul class="dropdown-menu" style="float:right">
                <li><a [routerLink]="['/']"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a [routerLink]="['/settings']"><i class="fa fa-cogs fa-fw"></i> Settings</a></li>
                <li><a [routerLink]="['/cart']"><i class="fa fa-shopping-basket fa-fw"></i> Cart</a></li>
                <li *ngIf="authed && uid === me || authed && uid === mike" class="divider"></li>
                <li *ngIf="authed && uid === me || authed && uid === mike"><a [routerLink]="['/admin']"><i class="fa fa-dashboard fa-fw"></i> Admin</a></li>
                <li class="divider"></li>
                <li><a (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
              </ul>
            </div>


          </div>

        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <div>
        <ul style="padding-top:10px; height: 370px; background-image: url('./img/newlogo-nav2.png'); background-repeat: no-repeat; background-color: #000; background-position: center; margin-top:0px; margin-bottom:0px">
          <center>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" hover="color: #fff" [routerLink]="['/']"><b>HOME</b></a><span class="sr-only">(current)</span></li>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" [routerLink]="['/products']"><b>PRODUCTS</b></a></li>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" [routerLink]="['/barbers']"><b>BARBERS</b></a></li>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" [routerLink]="['/services']"><b>SERVICES</b></a></li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px; padding-left:40px" [routerLink]="['/contact']"><b>CONTACT</b></a></li>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" [routerLink]="['/photos']"><b>PHOTOS</b></a></li>
            <li class="visible-xs visible-sm" style="display:inline !important"><a style="padding:3px" [routerLink]="['/jobs']"><b>JOBS</b></a></li>
            <li class="visible-xs visible-sm" style="display:inline !important; padding-right:30px"><a style="padding:3px" [routerLink]="['/login']"><b>LOGIN</b></a></li>
            <!--//EXAMPLE IF NEED TO GO BACK
          <li class="visible-xs"><a [routerLink]="['/login']" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><b>LOGIN</b></a></li>-->
          </center>
        </ul>
      </div>
      <!--</div>
      <!-- /.navbar-collapse -->

    </nav>


    <div class="ContentSideSections" id="PFTopLinksCover" style="height: 440px; width:100%; overflow:visible">

      <div class="hidden-xs hidden-sm hidden-md">

        <div class="row">

        <div class="col s4">
           <div style="float:right">
            <div class="PropertyBox TextShadow" >
              <a class='my-btn' (click)='onClick5()'>
                <img src="./img/barbs.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">SERVICES</span>
                  <span class="PropertyText">Find out what services we offer and our pricing.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow">
              <a class='my-btn' (click)='onClick1()'>
                <img src="./img/artists.png" style="width: 100px; height: 100px">
                <p class="defaultText" style="margin-bottom: 10px">
                  <span class="PropertyTopic">BARBERS</span>
                  <span class="PropertyText">Meet our barbers and know who is cutting your hair.</span></p>
              </a>
            </div>
</div>

        </div>


        <div class="col s4">
          <center>
            <div class="PropertyBox TextShadow">
              <a class='my-btn' (click)='onClick2()'>
                <img src="./img/hair2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">PRODUCTS</span>
                  <span class="PropertyText">We sell multiple hair and beard products.<br> Click here to see our products.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow">
              <a class='my-btn' (click)='onClick3()'>
                <img src="./img/comm3.png" style="width: 100px; height: 100px">
                <p class="defaultText" style="margin-bottom: 10px">
                  <span class="PropertyTopic">COMMUNITY</span>
                  <span class="PropertyText">Get active in our community.<br>Come see what we are doing to help.</span></p>
              </a>
            </div>
            </center>
        </div>



        <div class="col s4">
         <div style="float:left">
            <div class="PropertyBox TextShadow">
              <a class='my-btn' (click)='onClick4()'>
                <img src="./img/jobs2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">JOBS</span>
                  <span class="PropertyText">Click this link to fill out a form.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow">
              <a class='my-btn'>
                <img src="./img/social2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">CONNECT</span>
                  <span class="PropertyText">Click any of the links at the bottom of our page to join our social media.</span></p>
              </a>
            </div>
    </div>
        </div>

        </div>
        </div>


      <div class="visible-md">

        <div class="row">

        <div class="col s4">
           <div style="float:right">

            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn' (click)='onClick5()'>
                <img src="./img/barbs.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">SERVICES</span>
                  <span class="PropertyText">Find out what services we offer and our pricing.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn' (click)='onClick1()'>
                <img src="./img/artists.png" style="width: 100px; height: 100px">
                <p class="defaultText" style="margin-bottom: 10px">
                  <span class="PropertyTopic">BARBERS</span>
                  <span class="PropertyText">Meet our barbers and know who is cutting your hair.</span></p>
              </a>
            </div>
</div>

        </div>


        <div class="col s4">
          <center>
            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn' (click)='onClick2()'>
                <img src="./img/hair2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">PRODUCTS</span>
                  <span class="PropertyText">We sell multiple hair and beard products.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn' (click)='onClick3()'>
                <img src="./img/comm3.png" style="width: 100px; height: 100px">
                <p class="defaultText" style="margin-bottom: 10px">
                  <span class="PropertyTopic">COMMUNITY</span>
                  <span class="PropertyText">Get active in our community.<br>Come see what we are doing to help.</span></p>
              </a>
            </div>
            </center>
        </div>



        <div class="col s4">
         <div style="float:left">
            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn' (click)='onClick4()'>
                <img src="./img/jobs2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">JOBS</span>
                  <span class="PropertyText">Click this link to fill out a form.</span></p>
              </a>
            </div>



            <div class="PropertyBox TextShadow" style="width:200px; height:200px">
              <a class='my-btn'>
                <img src="./img/social2.png" style="width: 100px; height: 100px">
                <p class="defaultText">
                  <span class="PropertyTopic">CONNECT</span>
                  <span class="PropertyText">Click any of the links at the bottom of our page to join our social media.</span></p>
              </a>
            </div>
    </div>
        </div>

</div>
        </div>




      </div>

    </div>

    <div>
      <router-outlet></router-outlet>
    </div>


  </div>


    



  <!--FOOTER DESKTOP-->
  <div class="hidden-xs">
    <div class="ContentSideSections2">
      <div class="row">

        <div class="col s4">
          <span class="floatLeft fontSize14" style="padding-top: 55px"><a href="http://www.cutthroatbarbers.com">Cutthroat Barbershop</a>, © 2016</span>
        </div>
        <div class="s4">
        </div>
        <div class="s4" style="padding-top: 45px">
          <span class="floatRight fontSize14" style="padding-right: 10px"><a href="http://www.yelp.com/biz/cutthroat-barber-shop-west-valley-city"><img src="./img/yelp.png" style="width:40px; height:40px"></a></span>
          <span class="floatRight fontSize14" style="padding-right: 10px"><a href="https://www.instagram.com/cutthroat_barber/?hl=en"><img src="./img/insta.png" style="width:40px; height:40px"></a></span>
          <span class="floatRight fontSize14" style="padding-right: 10px"><a href="https://www.facebook.com/search/513605432131514/local_search?surface=tyah"><img src="./img/fb.png" style="width:40px; height:40px"></a></span>
          <!--<span class="floatRight fontSize14">Find us<br>&nbsp;&nbsp;&nbsp;on<br>Social Media</span>-->
        </div>

      </div>
    </div>
  </div>
  <!--FOOTER MOBILE-->
  <div class="visible-xs">
    <div class="ContentSideSections2">
      <div class="row">
        <div class="col s6">
          <br>
          <span class="floatLeft fontSize14" style="padding-top: 10px"><a href="http://www.cutthroatbarbershopslc.com">Cutthroat Barbershop</a></span>
        </div>

        <div class="s6">
          <br>
          <span class="floatRight fontSize14"><a href="http://www.yelp.com/biz/cutthroat-barber-shop-west-valley-city"><img src="./img/yelp.png" style="width:40px; height:40px"></a></span>
          <span class="floatRight fontSize14" style="padding-right: 10px"><a href="https://www.instagram.com/cutthroat_barber/?hl=en"><img src="./img/insta.png" style="width:40px; height:40px"></a></span>
          <span class="floatRight fontSize14" style="padding-right: 10px"><a href="https://www.facebook.com/search/513605432131514/local_search?surface=tyah"><img src="./img/fb.png" style="width:40px; height:40px"></a></span>
        </div>

      </div>
    </div>
  </div>



  <script type="text/javascript">

$(document).ready(function(){

$(".dropdown-toggle").dropdown('toggle');

});  

</script>