<div>
  <div class="ContentSideSections overHidden">
    <div class="Content100 floatLeft overHidden TextShadow">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center>{{pageTitle}}</center>
        </div>
        <div class="panel-body" style="padding-top:30px">
          <div class="row">
            <div class="col-md-6">


          </div>

          <div style="text-align:center">
            <ul class="pagination">
              <li>
                <a class='my-btn' (click)='onBack()' aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a class='my-btn' (click)='onClick2()'>2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

