<div>
  <div class="ContentSideSections overHidden">
    <div class="Content100 floatLeft overHidden TextShadow">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center>{{pageTitle}}</center>
        </div>
        <div class="panel-body" style="padding-top:30px">
          <div class="row">
            <div class="col-md-6">
              <h4 style="padding-left: 25px">
                <u><b>Message</b></u>
                <br>
                <br>



                <h3>mackay j… (05/21/2016)</h3>
                <br> Always a great experience at this barber shop. Staff is all really genuine and good atmosphere.
                <br> Always look fresh and clean cut leaving. Will not find a better place to get a fade or lined up.
                <br>
                <br>





                <h3>Chandler N… (05/21/2016)</h3>
                <br> Best Barber in the biz
                <br>
                <br>






                <h3>Kevin D… (05/21/2016)</h3>
                <br> Mike gives a mean fade in a timely fashion
                <br>
                <br>






                <h3>delgado n… (05/20/2016)</h3>
                <br> Mike honestly is the best he takes his time and he also recommends cuts to try when your out of ideas!
                He also just a super awesome guy in general... His shop is also very clean and has a ton a talent!
                <br>
                <br>






                <h3>Marwin J… (05/19/2016)</h3>
                <br> Thanks mike!
                <br>
                <br>

              </h4>

              <br>
              <br>
              <br>

            </div>

            <br>
            <br>
            <br>

            <br>
            <br>

          </div>

          <div style="text-align:center">
            <ul class="pagination">
              <li>
                <a class='my-btn' (click)='onBack()' aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a class='my-btn' (click)='onClick2()'>2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>