<div>
      <div>
    <div style="padding-left:10px; padding-right:10px; padding-top:20px">


 <h1><center>Cart Items</center></h1>
<br>
      <br>
      <br>

        <center>
                        <br>
                        <br>
                        <b><u>Product Description:</u></b>
                        <br>
                        <br> {{description}}
                        <br>
                        <br>
                        <b><img src="{{imageUrl}}" style="width: 250px; height:250px"></b>
                        <br>
                        <br>
                        <b>Price :</b> &nbsp;&nbsp; ${{productPrice}}.00
                        <br>
                        <br>
                    </center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        </div>
    </div>
</div>