<div class="ContentSideSections overHidden">
            <div class="Content100 floatLeft overHidden TextShadow">
 <h2>Product not yet available <u>online</u>.</h2>
     <br>
     <h5>Visit us in store to purchase.</h5>
     <br>          

<div class='panel panel-primary'>
    <div class='panel-heading'>
     <center><span>{{productBrand}}</span><span style="padding-left: 5px">{{productName}}</span></center>
   </div>
<br>
        <div style="padding-left: 30px;">
        <center><h4><b><u>Date Available:</u></b></h4>
        <br>
        <h5>{{releaseDate}}</h5>
        <br>
        <br>
        <h4><b><u>Product Description:</u></b></h4>
        <br>   
        <h5>{{description}}</h5>
        <h2><b><img src="{{imageUrl}}" style="width: 150px; height:150px; padding-left:-30px"></b></h2>
        <br>
        <br>
        <h4><b><u>Price:</u></b></h4>  
        <br>
        <h5>${{productPrice}}.00</h5>
         <br>
         <br>               
         </center>
              </div>
   
    <div class='panel-footer'>
        <a class='mat-btn waves-effect waves-light red darken-3' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> 
        </a>
        <a class='mat-btn waves-effect waves-light red darken-3' (click)='onBack()' style='width:80px; float:right'>
            <i class='glyphicon glyphicon-shopping-cart'></i>
        </a>
    </div>    
</div>
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

       
</div>
</div>