<div>
    <div style="padding-left:10px; padding-right:10px; padding-top:80px; padding-bottom:80px">
 
        <div class='panel panel-primary center-block img-responsive' style="height: 100%; width:1244px">
            <div class="panel-heading">
                <center><b>{{pageTitle}}</b></center>
            </div>
            <div class="panel-body" style="padding:15px">

                <div class="hidden-xs">
                         <br>

                    <div class='table-responsive'>
                        <table class='table'>
                            <thead>
                                <tr>

                                    <th>Service</th>
                                    <th>Description</th>
                                    <th>Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h5><b>Haircut</b></h5>
                                    </td>
                                    <td>
                                        <h5>Our haircuts includes hot lather neck shave and style.</h5>
                                    </td>
                                    <td>
                                        <h5>$20.00</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><b>Hot Towel shave</b></h5>
                                    </td>
                                    <td>
                                        <h5>Hot lather shave includes a pre-shave application followed by a steam towel. Next
                                            hot lather is applied followed by the straight razor shave. Ending with another
                                            steam towel then an aftershave splash!</h5>
                                    </td>
                                    <td>
                                        <h5>$20.00</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><b>Kid haircuts</b></h5>
                                    </td>
                                    <td>
                                        <h5>Haircut and style.</h5>
                                    </td>
                                    <td>
                                        <h5>$15.00</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><b>Haircut for seniors</b></h5>
                                    </td>
                                    <td>
                                        <h5>Haircut includes a hot lather neck shave and style!</h5>
                                    </td>
                                    <td>
                                        <h5>$15.00</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5><b>Hair Designs</b></h5>
                                    </td>
                                    <td>
                                        <h5>Freestyle Designs and Logos</h5>
                                    </td>
                                    <td>
                                        <h5>$10.00+</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <tr>
                                        <td>
                                            <h5><b>Hair and Beard Dye</b></h5>
                                        </td>
                                        <td>
                                            <h5>Bigen dye and applications (Lasts 1 to 2 weeks)</h5>
                                        </td>
                                        <td>
                                            <h5>$15.00</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5><b>Beard trim</b></h5>
                                        </td>
                                        <td>
                                            <h5>Trimming/shaping of the beard. Trimmer clean up under the beard. Then using the
                                                hot lather and the straight razor, line up cheek area/top line. Finished
                                                with an after shave splash!</h5>
                                        </td>
                                        <td>
                                            <h5>$10.00</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5><b>Line up</b></h5>
                                        </td>
                                        <td>
                                            <h5>Line ups consistent of cleaning up around entire hairline with trimmers then
                                                finishing with hot lather and straight razor and an aftershave splash!</h5>
                                        </td>
                                        <td>
                                            <h5>$10.00</h5>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>

                          <br>
                    <br>
      

                </div>
                <br>



                <div class="visible-xs">

                    <table class='table'>
                        <thead>
                            <tr>

                                <th>Service</th>
                                <th>Description</th>
                                <th>Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Haircut</b></h5>
                                </td>
                                <td>
                                    <h5>Our haircuts includes hot lather neck shave and style.</h5>

                                    <h5><b>Price:</b> $20.00</h5>
                                </td>
                            </tr>
                            <br>
                            <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Hot Towel Shave</b></h5>
                                </td>
                                <td>
                                    <h5>Hot lather shave includes a pre-shave application followed by a steam<br> towel. Next
                                        hot lather is applied, followed by the straight razor shave.<br> Ending with another
                                        steam towel then an aftershave splash!</h5>

                                    <h5><b>Price:</b> $20.00</h5>
                                </td>
                            </tr>
                            <br>
                            <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Kid haircuts</b></h5>
                                </td>
                                <td>
                                    <h5>Haircut and style.</h5>

                                    <h5><b>Price:</b> $15.00</h5>
                                </td>
                            </tr>
                            <br>
                           <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Haircut for seniors</b></h5>
                                </td>
                                <td>
                                    <h5>Haircut includes a hot lather neck shave and style!</h5>

                                    <h5><b>Price:</b> $15.00</h5>
                                </td>
                            </tr>
                            <br>
                            <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Hair Designs</b></h5>
                                </td>
                                <td>
                                    <h5>Freestyle Designs and Logos</h5>

                                    <h5><b>Price:</b>$10.00 +</h5>
                                </td>
                            </tr>
                            <br>
                           <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Hair and Beard Dye</b></h5>
                                </td>
                                <td>
                                    <h5>Bigen dye and applications (Lasts 1 to 2 weeks)</h5>

                                    <h5><b>Price:</b>$15.00</h5>
                                </td>
                            </tr>
                            <br>
                            <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Beard trim</b></h5>
                                </td>
                                <td>
                                    <h5>Trimming/shaping of the beard. Trimmer clean up under the beard. Then using the hot lather
                                        and the straight razor, line up cheek area/top line. Finished with an after shave
                                        splash!
                                    </h5>

                                    <h5><b>Price:</b>$10.00</h5>
                                </td>
                            </tr>
                            <br>
                           <tr style="border: 1px solid #d3d3d3; border-top: 0px">
                                <td style="background-color: #f6f6f6">
                                    <h5><b>Line up</b></h5>
                                </td>
                                <td>
                                    <h5>Line ups consistent of cleaning up around entire hairline with trimmers then finishing
                                        with hot lather and straight razor and an aftershave splash!</h5>

                                    <h5><b>Price:</b>$10.00</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>