
        <div class="ContentSideSections overHidden">
            <div class="Content100 floatLeft overHidden TextShadow">
                <img class="visible-xs src=" src="./img/logo2.png">
                <div class="visible-xs" style="border-top: 1px solid #000"></div>
                <br>
                <div class="col s12">
                    <!--<div class="row">
          <div class="defaultTopic" style="padding-left: 10px"><center>WELCOME<br>TO<br>CUTTHROAT BARBERSHOP</center></div>
                <br>
                <div class="defaultText"><center>Cutthroat is an award winning barbershop with an old school traditional approach to doing men's haircuts
                    and shaves!<br>We specialize in gentlemen's cuts, pompadours, faux hawks, side parts, beards and straight
                    razor hot shaves!<br>We also have some amazing art on our walls from Salt Lakes finest graffiti artists!!
                    Come see what all the hype is about!!</center></div>
                <br>

             
            </div>-->

                    <div class="row">
           <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../img/barbers/p1.jpg" alt="First Slide">
            </div>
            <div class="item">
                <img src="../img/barbers/p2.jpg" alt="Second Slide">
            </div>
            <div class="item">
                <img src="../img/barbers/p3.jpg" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

                    </div>
                </div>


         

            </div>
        </div>
        <!--<span><img class="img-thumbnail" src="./img/skyler.jpg" style="height: 600px; width:800px"></span>-->






        <!--<div class="defaultText">Cutthroat is an award winning barbershop with an old school traditional approach to doing men's haircuts
                    and shaves! We specialize in gentlemen's cuts, pompadours, faux hawks, side parts, beards and straight
                    razor hot shaves! We also have some amazing art on our walls from Salt Lakes finest graffiti artists!!
                    Come see what all the hype is about!! </div>
                <br>

                <br>
                <br>-->
        <!--<a class="BigButton TextShadowNone YellowBtn" href="https://booksy.net/en-us/16276_cutthroat-barbershop_barbers_37796_salt-lake-city">
                <span class="floatLeft">Book Now</span> <i class="fa fa-calendar-check-o fa-fw" style="float:right"></i></a>
                <a class="BigButton TextShadowNone OrangeBtn" href="tel:1-801-548-0118"> <span class="floatLeft">Call Now</span><i class="fa fa-phone fa-fw" style="float:right"></i></a>-->




        <center>
            <div class="ContentSideSections overHidden defaultText hoverable" style="border-top:0px">
                <span class="dispBlock logoRedText"><h1>The Cutthroat family is looking to grow the team!! ‬</h1></span>
                <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;">Please fill out a form or message me with any questions!!</p>
                <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;"> ‪#‎CUTTHROATBARBERSHOP</p>
                <br>
                <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;"><img src="./img/hiring.jpg" class="img-thumbnail"></p>

            </div>
            <br>
            <div class="ContentSideSections overHidden defaultText hoverable">
                <div class="logoRedText fontSize34">We now carry High West Beard Products!</div>
                <br>
                <p class="defaultText" style="margin-bottom: 10px;"><img src="./img/highwest.jpg" class="img-thumbnail"></p>
                <p class="defaultText" style="margin-bottom: 10px;"></p>

            </div>


        </center>


       <div class="Content66 floatRight overHidden" style="padding-right: 600px">

                    <a class='my-btn' (click)='onClick()'>
                        <div class="PropertyBox TextShadow">
                            <img src="./img/barbs.png">
                            <p class="defaultText">
                                <span class="PropertyTopic">SERVICES</span>
                                <span class="PropertyText">Find out what services we offer and our pricing.</span></p>

                        </div>
                    </a>
                    <a class='my-btn' (click)='onClick3()'>
                        <div class="PropertyBox TextShadow">
                            <img src="./img/artists.png">
                            <p class="defaultText" style="margin-bottom: 10px">
                                <span class="PropertyTopic">BARBERS</span>
                                <span class="PropertyText" style="margin-bottom: 10px">Meet our barbers and know who is cutting your hair.</span></p>
                        </div>
                    </a>
                    <a class='my-btn' (click)='onClick4()'>
                        <div class="PropertyBox TextShadow">
                            <img src="./img/jobs2.png" style="margin-bottom: 10px">
                            <p class="defaultText">
                                <span class="PropertyTopic">JOBS</span>
                                <span class="PropertyText" style="margin-bottom: 10px">We are hiring! Click this link and fill out a form.</span></p>
                        </div>
                    </a>
                    <a class='my-btn' (click)='onClick2()'>
                        <div class="PropertyBox TextShadow">
                            <img src="./img/hair2.png">
                            <p class="defaultText"></p>
                            <span class="PropertyTopic">PRODUCTS</span>
                            <span class="PropertyText" style="margin-bottom: 10px">We sell multiple hair and beard products. Click here to see our products.</span>
                        </div>
                    </a>
                    <div class="PropertyBox TextShadow">
                        <img src="./img/comm3.png">
                        <p class="defaultText" style="margin-bottom: 10px;">
                            <span class="PropertyTopic">COMMUNITY</span>
                            <span class="PropertyText">Get active in our community.<br>Come see what we are doing to help.</span></p>
                    </div>
                    <div class="PropertyBox TextShadow">
                        <img src="./img/social2.png">
                        <p class="defaultText" style="margin-bottom: 10px;">
                            <span class="PropertyTopic">CONNECT</span>
                            <span class="PropertyText" style="margin-bottom: 10px">Join us on social media. Click any of the links at the bottom of our page to join.</span></p>
                    </div>



                </div>


<script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
$('#myCarousel').carousel({
interval: 1000,
cycle: true
});
});

</script>
