<div>
    <undefined _ngcontent-fbo-2="">
        <div class="ContentSideSections overHidden">
            <div class="Content33 floatLeft overHidden TextShadow">
                <img class="visible-xs src=" src="./img/logo2.png">
                <div class="visible-xs" style="border-top: 1px solid #000"></div>
                <div class="defaultTopic" style="padding-left: 10px">CUTTHROAT BARBERSHOP</div>
                <br>
                <div class="defaultText">Cutthroat is an award winning barbershop with an old school traditional approach to doing men's haircuts
                    and shaves! We specialize in gentlemen's cuts, pompadours, faux hawks, side parts, beards and straight
                    razor hot shaves! We also have some amazing art on our walls from Salt Lakes finest graffiti artists!!
                    Come see what all the hype is about!! </div>
                <br>

                <br>
                <br>
                <a class="BigButton TextShadowNone YellowBtn" href="https://booksy.net/en-us/16276_cutthroat-barbershop_barbers_37796_salt-lake-city">
                <span class="floatLeft">Book Now</span> <i class="fa fa-calendar-check-o fa-fw" style="float:right"></i></a>
                <a class="BigButton TextShadowNone OrangeBtn" href="tel:1-801-548-0118"> <span class="floatLeft">Call Now</span><i class="fa fa-phone fa-fw" style="float:right"></i></a>
            </div>

            <div class="Content66 floatRight overHidden">
                <a class='my-btn' (click)='onClick()'>
                    <div class="PropertyBox TextShadow">
                        <img src="./img/barbs.png">
                        <p class="defaultText">
                            <span class="PropertyTopic">BARBERS</span>
                            <span class="PropertyText">Meet our barbers and know who is cutting your hair.</span></p>

                    </div>
                </a>
                <a class='my-btn' (click)='onClick3()'>
                    <div class="PropertyBox TextShadow">
                        <img src="./img/artists.png">
                        <p class="defaultText" style="margin-bottom: 10px">
                            <span class="PropertyTopic">ARTISTS</span>
                            <span class="PropertyText" style="margin-bottom: 10px">Meet our artists and find out how you can purchase their work.</span></p>
                    </div>
                </a>
                <a class='my-btn' (click)='onClick4()'>
                <div class="PropertyBox TextShadow">
                    <img src="./img/jobs2.png" style="margin-bottom: 10px">
                    <p class="defaultText">
                        <span class="PropertyTopic">JOBS</span>
                        <span class="PropertyText" style="margin-bottom: 10px">Looking for work?</span></p>
                </div>
                </a>
                <a class='my-btn' (click)='onClick2()'>
                    <div class="PropertyBox TextShadow">
                        <img src="./img/hair2.png">
                        <p class="defaultText"></p>
                        <span class="PropertyTopic">PRODUCTS</span>
                        <span class="PropertyText" style="margin-bottom: 10px">We sell multiple hair and beard products.</span>
                    </div>
                </a>
                <div class="PropertyBox TextShadow">
                    <img src="./img/comm3.png">
                    <p class="defaultText" style="margin-bottom: 10px;">
                        <span class="PropertyTopic">COMMUNITY</span>
                        <span class="PropertyText">Get active in our community.<br>Come see what we are doing to help.</span></p>
                </div>
                <div class="PropertyBox TextShadow">
                    <img src="./img/social2.png">
                    <p class="defaultText" style="margin-bottom: 10px;">
                        <span class="PropertyTopic">CONNECT</span>
                        <span class="PropertyText" style="margin-bottom: 10px">Join us on social media.</span></p>
                </div>

            </div>
        </div>

        <div class="ContentSideSections overHidden defaultText hoverable">
            <span class="dispBlock logoRedText fontSize30">Need a new summer cut?</span>
            <p class="defaultText" style="margin-bottom: 10px;"></p>
            <p class="defaultText" style="margin-bottom: 10px;">We have great deals going on right now. Buy a cut, get one free!</p>

        </div>

        <div class="ContentSideSections overHidden defaultText hoverable">
            <div class="logoRedText fontSize30">New Artwork from SLC's Finest Graffiti Artists</div>
            <p class="defaultText" style="margin-bottom: 10px;"></p>
            <p class="defaultText" style="margin-bottom: 10px;">If you appreciate art we are the place to be.</p>

        </div>

        <div class="ContentSideSections overHidden defaultText hoberable">
            <span class="dispBlock logoRedText fontSize30">Shop is now open!</span>
            <br>
            <p class="defaultText" style="margin-bottom: 10px;">Come stop in and get a fresh fade!!</p>
            <p class="defaultText" style="margin-bottom: 30px; margin-top: 30px;">
                <img class="img-responsive img-rounded" src="./img/main.jpg">
            </p>

   

        </div>

    </undefined>
</div>