<div class="ContentSideSections overHidden">
    <div class="Content100 overHidden TextShadow">
        <img class="visible-xs center-block" src="./img/logo2.png">

        <br>

        <br>
        <div class="row">
            <center>
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmathew.morgan.39%2Fvideos%2F3337079424535%2F&show_text=0&width=560&autoplay=1"
                    width="560" height="315" style="border: 1px solid black;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                    allowFullScreen="true"></iframe>
            </center>
        </div>
        <!--<div class="row visible-xs">
            <div class="mat-carousel">
                <a class="mat-carousel-item" href="#one!"><img src="./img/barbers/p1.jpg"></a>
                <a class="mat-carousel-item" href="#two!"><img src="./img/barbers/p2.jpg"></a>
                <a class="mat-carousel-item" href="#three!"><img src="./img/barbers/p3.jpg"></a>
                <a class="mat-carousel-item" href="#four!"><img src="./img/barbers/p4.jpg"></a>
            </div>

        </div>-->

        <br>
        <br>

        <!--DESKTOP-->
        <div class="visible-lg">
            <div class="row" style="padding-left: 150px; padding:right:150px">
                <div class="col s4">
                    <div class="PropertyBox TextShadow">
                        <a class='my-btn' (click)='onClick5()'>
                            <img src="./img/barbs.png" style="width: 100px; height: 100px">
                            <p class="defaultText">
                                <span class="PropertyTopic">SERVICES</span>
                                <span class="PropertyText">Find out what services we offer and our pricing.</span></p>
                        </a>
                    </div>
                </div>

                <div class="col s4">
                    <div class="PropertyBox TextShadow">
                        <a class='my-btn' (click)='onClick()'>
                            <img src="./img/artists.png" style="width: 100px; height: 100px">
                            <p class="defaultText" style="margin-bottom: 10px">
                                <span class="PropertyTopic">BARBERS</span>
                                <span class="PropertyText" style="margin-bottom: 10px">Meet our barbers and know who is cutting your hair.</span></p>
                        </a>
                    </div>

                </div>
                <div class="col s4">
                    <div class="PropertyBox TextShadow">
                        <a class='my-btn' (click)='onClick4()'>
                            <img src="./img/jobs2.png" style="width: 100px; height: 100px">
                            <p class="defaultText">
                                <span class="PropertyTopic">JOBS</span>
                                <span class="PropertyText" style="margin-bottom: 10px">We are hiring! Click this link and fill out a form.</span></p>
                        </a>
                    </div>
                </div>
            </div>


            <div class="row" style="padding-left: 150px; padding:right:150px">
                <div class="col s4">
                    <a class='my-btn' (click)='onClick2()'>
                        <div class="PropertyBox TextShadow">
                            <img src="./img/hair2.png" style="width: 100px; height: 100px">
                            <p class="defaultText"></p>
                            <span class="PropertyTopic">PRODUCTS</span>
                            <span class="PropertyText" style="margin-bottom: 10px">We sell multiple hair and beard products. Click here to see our products.</span>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <div class="PropertyBox TextShadow">
                        <img src="./img/comm3.png" style="width: 100px; height: 100px">
                        <p class="defaultText" style="margin-bottom: 10px;">
                            <span class="PropertyTopic">COMMUNITY</span>
                            <span class="PropertyText">Get active in our community.<br>Come see what we are doing to help.</span></p>
                    </div>
                </div>
                <div class="col s4">
                    <div class="PropertyBox TextShadow">
                        <img src="./img/social2.png" style="width: 100px; height: 100px">
                        <p class="defaultText" style="margin-bottom: 10px;">
                            <span class="PropertyTopic">CONNECT</span>
                            <span class="PropertyText" style="margin-bottom: 10px">Join us on social media. Click any of the links at the bottom of our page to join.</span></p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>

<!--MOBILE-->


<div class="visible-xs">
    <div class="ContentSideSections overHidden defaultText">
         <div>
        <div class="row"> 
            <div class="col s4" style="margin-left: 5px; margin-right: 32px">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px; padding-right:0px">
                    <a class='my-btn' (click)='onClick5()'>
                        <img src="./img/barbs.png" style="width: 75x; height: 75px">
                        <p class="defaultText">
                            <span class="PropertyTopic">SERVICES</span>
                            <span class="PropertyText">Find out what <br>services we offer<br> and our pricing.</span></p>
                    </a>
                </div>
            </div>

            <div class="col s4">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px">
                    <a class='my-btn' (click)='onClick()'>
                        <img src="./img/artists.png" style="width: 75px; height: 75px">
                        <p class="defaultText" style="margin-bottom: 10px">
                            <span class="PropertyTopic">BARBERS</span>
                            <span class="PropertyText" style="margin-bottom: 10px">Meet our barbers and know who is cutting your hair.</span></p>
                    </a>
                </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:0px">
            <div class="col s4" style="margin-left: 5px; margin-right: 32px">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px">
                    <a class='my-btn' (click)='onClick2()'>
                        <img src="./img/hair2.png" style="width: 75px; height: 75px">
                        <p class="defaultText"></p>
                        <span class="PropertyTopic">PRODUCTS</span>
                        <span class="PropertyText" style="margin-bottom: 10px">We sell multiple <br>hair and beard products.<br> Click here to<br> see our products.</span>
                    </a>
                </div>
            </div>

            <div class="col s4" style="padding-left:0px">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px">
                    <a class='my-btn' (click)='onClick4()'>
                        <img src="./img/jobs2.png" style="width: 75px; height: 75px; margin-bottom: 10px">
                        <p class="defaultText">
                            <span class="PropertyTopic">JOBS</span>
                            <span class="PropertyText" style="margin-bottom: 10px">Click this link<br>to fill out a form.</span></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left:0px">

            <div class="col s4" style="margin-left: 5px; margin-right: 32px">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px">
                    <img src="./img/comm3.png" style="width: 75px; height: 75px">
                    <p class="defaultText" style="margin-top: 10px;">
                        <span class="PropertyTopic">COMMUNITY</span>
                        <span class="PropertyText">Get active in our community.<br>Come see what we<br> are doing to help.</span></p>
                </div>
            </div>

            <div class="col s4">
                <div class="PropertyBox TextShadow" style="width: 150px; height: 250px">
                    <img src="./img/social2.png" style="width: 75px; height: 75px">
                    <p class="defaultText">
                        <span class="PropertyTopic">CONNECT</span>
                        <span class="PropertyText">Join us on<br> social media.<br> Click any of the<br> links at the bottom<br>of our<br> page to join.</span></p>
                </div>
            </div>


        </div>

    </div>
</div>







<center>

    <div class="ContentSideSections overHidden defaultText" style="border: 0px">
        <div class="logoRedText fontSize34">We now carry High West Beard Products!</div>
        <br>
        <p class="defaultText" style="margin-bottom: 10px;"><img src="./img/highwest.jpg" class="img-thumbnail"></p>
        <p class="defaultText" style="margin-bottom: 10px;"></p>

    </div>
    <div class="ContentSideSections overHidden defaultText" style="border:0px">
        <span class="dispBlock logoRedText"><h1>Shop is now open, stop in and get a fresh cut! ‬</h1></span>
        <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;"></p>
        <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;"> ‪#‎CUTTHROATBARBERSHOP</p>
        <br>
        <p class="defaultText" style="margin-bottom: 10px; margin-top: 10px;"><img src="./img/main.jpg" class="img-thumbnail"></p>

    </div>

</center>



<script type="text/javascript">
 $(document).ready(function(){
      $('.mat-carousel').mat-carousel();
    });
        
    </script>